@font-face {
    font-family: "iconfont"; /* Project id 4638676 */
    src: url('./font_4638676_qcd32sirb9c.woff2') format('woff2'),
         url('./font_4638676_qcd32sirb9c.woff') format('woff'),
         url('./font_4638676_qcd32sirb9c.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e64e";
  }
  
  .icon-shuoshuo:before {
    content: "\e613";
  }
  
  .icon-time:before {
    content: "\e648";
  }
  
  .icon-biji:before {
    content: "\e60e";
  }
  
  .icon-search:before {
    content: "\e63d";
  }